form
	each input in form
		if input.type == "message"
			.alert(class="alert-" + input.severity)
				= input.text
		if input.type == "text"
			.form-group
				label= input.label
				input.form-control(type="text" name=input.name)
		if input.type == "textarea"
			.form-group
				label= input.label
				textarea.form-control(name=input.name)
		if input.type == "checkbox"
			.form-group
				.checkbox
					label
						input(type="checkbox" name=input.name value="1")
						= input.label
	button.btn.btn-default(type="submit")= submitText
